.navbarlink {
  background-color: white;
}

body {
  padding: 5px;
  background-color: rgb(236, 240, 244);
  font-family: "Poppins", sans-serif;
}

.container-index {
  display: flex;
  height: 100vh;
}

.content-middle {
  justify-content: center;
  text-align: center;
  display: block;
  padding: 5vh 5vw;
}

.navbar-main {
  background-color: rgb(255, 255, 255);
}

.titles-main {
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-align: left;
  border: 0px;
  padding: 20px 0px;
  padding-left: 45px;
  word-wrap: normal;
  border-radius: 10px;
  height: fit-content;
  display: flex;
}

.titles-main-center {
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  border: 0px;
  padding: 20px 0px;
  word-wrap: normal;
  border-radius: 10px;
  height: fit-content;
  display: flex;
}

.amount-main {
  font-size: xx-large;
  font-weight: 800;
  margin-left: 20px;
}

.amount-main-center {
  font-size: xx-large;
  font-weight: 800;
}

.responsive-logo{
  display: none;
}

.font-titles-main {
  font-weight: 600;
  color: rgb(187, 187, 187);
  font-size: 21px;
  margin-left: 20px;
  display: block;
  width: max-content;
}
.font-titles-att {
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 21px;
  margin-left: 20px;

  word-wrap: break-word;
}
.font-titles-black {
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 21px;
}

.font-titles-main-center {
  font-weight: 600;
  color: rgb(187, 187, 187);
  font-size: 21px;
  display: block;
  width: max-content;
  text-align: center;
}

.vertical-separator {
  border-radius: 5px;
  background-color: #0654c6;
  width: 5px;
}

.contenedor-flex {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
}

.contenedor-flex > div {
  flex: calc(20% - 5px);
  margin-bottom: 20px;
}

.grid1 {
  display: grid;
  grid-template-columns: 39% 60%;
  gap: 1%;
  justify-content: center;
  align-items: center;
}

.grid2 {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 49% 50%;
  column-gap: 1%;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.grid4 {
  display: grid;
  grid-template-columns: 32% 32% 33%;
  column-gap: 1%;
  justify-content: center;
  align-items: center;
}

.circle-graph {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.canvas-1 {
  width: 800px;
  height: auto;
  justify-content: center;
}

.grid3 {
  display: grid;
  grid-template-columns: 59% 40%;
  gap: 1%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

input {
  margin: 10px 0px;
}

select {
  margin: 10px 0px;
}

.form-regular {
  max-width: 250px;
}

.navtop{
  flex-direction: column;
  margin: 0px 10px;
}

.menu-responsive{
  display: none;
  font-size: 35px;
}

.navtop-div{
  justify-content: flex-end;
}

.hidden-menu-image{
  display: block;
}

.sidenav{
  margin-top: 15px;
}


.form-regular-div {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 0px;
  padding: 20px 0px;
  word-wrap: normal;
  border-radius: 10px;
  display: flex;
}

@media (max-width: 1440px) {
  body .container-index .content-middle .grid3 {
    display: block;
  }
}

@media (max-width: 1024px) {
  body .container-index .content-middle .grid3 {
    display: block;
  }
  .canvas-1 {
    width: 800px;
    height: auto;
    justify-content: center;
  }
  .navlist{
    position: absolute;
    top: 0%;
    left: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .navlist.active {
    left: 0;
  }
  .responsive-logo{
    display: block;
    width: 120px;
  }
  .navtop{
    flex-direction: row;
    gap: 20px;
  }
  .navtop-div{
    justify-content: flex-start;
  }
  .menu-responsive{
    display: block;
  }
  .hidden-menu-image{
    display: none;
  }
  .sidenav{
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  body .container-index .content-middle .grid3 {
    display: block;
  }
  .canvas-1 {
    width: 675px;
    height: auto;
    justify-content: center;
  }
  .navlist{
    position: absolute;
    top: 0%;
    left: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .navlist.active {
    left: 0;
  }
  .responsive-logo{
    display: block;
    width: 120px;
  }
  .navtop{
    flex-direction: row;
    gap: 20px;
  }
  .navtop-div{
    justify-content: flex-start;
  }
  .menu-responsive{
    display: block;
  }
  .hidden-menu-image{
    display: none;
  }
  .sidenav{
    margin-top: 50px;
  }
}


@media (max-width: 393px) {
  .navtop li a{
    font-size: 14px;
  }
  .canvas-1 {
    width: 350px;
    height: auto;
    justify-content: center;
    font-size: 12px;
  }
  .grid2{
    display: block;
  }
  .titles-main{
    margin: 15px 0px;
  }
  #hellocat{
    display: none;
  }
  #logoutbtn{
    display: none;
  }
  .grid1{
    display: block;
  }
}
